.image {
  display: flex;
  flex-flow: row nowrap;
  height: 226px;
  margin: 20px 0 10px;
}

.left,
.right {
  width: 50%;
}

.right {
  display: flex;
  flex-flow: column nowrap;
}

.right > img {
  height: 50%;
}
